.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    /* font-family: "Comic Sans", cursive; */
}

h1 {
    font-size: clamp(3rem, 9vw, 8rem);
    line-height: clamp(3.5rem, 4vw, 7rem);
}

.footer {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
}
